name: "Build UEC Textbooks (Staging) APK"
on:
  push:
    branches:
      - release/**

jobs:
  build_flutter_android_app-workflows:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:3.3.10
    steps:
      - uses: actions/checkout@v3
      - name: "Run Flutter CI Workflow"
        uses: ./.github/actions/flutter_test
      - name: "Build Staging APK"
        run: "flutter build -v apk --flavor staging -t lib/main_staging.dart"
      - name: "Transfer built APK to artifact"
        uses: actions/upload-artifact@v3
        with:
          name: ${{github.sha}}-uec-textbook-app.apk
          path: build/app/outputs/flutter-apk/app-staging-release.apk
          retention-days: 5


